<%- include('partials/header', { title, sidebar, currentPath, admin, flash }) %>

<div class="cards-grid">
  <% cards.forEach(function(card) { %>
    <a class="card" href="<%= card.href %>">
      <div class="card-label"><%= card.label %></div>
      <div class="card-value"><%= card.value.toLocaleString('en-US') %></div>
    </a>
  <% }); %>
</div>

<%- include('partials/footer') %>
